body {
    font-family: Arial, sans-serif;
}

header nav a {
    margin-right: 10px;
}

header nav a.active {
    font-weight: bold;
}

main {
    display: flex;
    justify-content: space-between;
}

#order-summary, #order-form {
    width: 45%;
}

button {
    margin-top: 10px;
}
