* {
    box-sizing: border-box;
}

header, nav {
    padding: 0;
    margin: 0;
}

div {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    font-family: 'Afacad+Flux', sans-serif;
    font-size: 16px;
    color: #333;
    margin: 0;
}

img {
    width: 50%;
    height: auto;
    margin-right: auto;
}

table {
    width: 40%;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #ddd;
}

a {
    margin-right: 20px;
    text-decoration: none;
    font-family: 'Afacad+Flux', sans-serif;
    font-size: 20px;
    color: black;
}

a:hover {
    color: red;
}

footer {
    width: 100%;
    height:auto;
    background-color: black;
    color: white;
}

footer a {
    color: white; 
}

footer a:hover {
    color: lightgray; 
}

nav a {
    text-decoration: none; 
}

a.active{
    color: tomato; 
}

main{
    flex:1; 
}
