/* Общие настройки */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: 'Afacad+Flux', sans-serif;
    font-size: 16px;
    color: #333;
}

/* Блоки */
header, nav, div {
    padding: 0;
    margin: 0;
}

/* Изображения */
img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Таблицы */
table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

/* Ссылки */
a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}

a:hover {
    color: #007bff; /* Современный синий для акцента */
}

footer {
    width: 100%;
    background-color: #333;
    color: white;
    padding: 20px 0;
}

footer a {
    color: white;
}

footer a:hover {
    color: #ccc; /* Более светлый оттенок для акцента */
}

/* Навигация */
nav a {
    font-size: 16px;
}

a.active {
    color: tomato;
}

/* Основной контент */
main {
    flex-grow: 1;
}

/* Медиазапросы для адаптивности */
@media (max-width: 600px) {
   h1, section > h2 {
       text-align: center; 
   }
   nav a {
       font-size: 18px; 
   }
}
