section>div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 40px;
    gap: 10px;

}
section>div>div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex:1 1 300px;
    align-items: center;
    gap: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 50px;
    border-radius: 35px;
    filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
    cursor:pointer;
    background-color: white;
    justify-content: space-between; /*Распределяет кнопки равномерно */
    
}
h2{
    margin-left: 40px;
}
section>div>div>p{
    line-height: 1;
}
section>div>div:hover{
    border: 2px solid tomato;
}
section>div>div>button:hover{
    background-color: lightgray;
}
section>div>div>img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    border-radius: 35px;
}
.price{
    font-size: 20px;
    padding: 0;
    margin:0
}
.name{
    font-size:20px;
    padding: 0;
    margin: 0;
}
.weight{
    color:grey;
    padding: 0;
    margin: 10;
}
section>div>div>button{
    background-color: #f1eee9;
    border-color: #f1eee9;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    cursor: pointer;
}


#order {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}
form {
    width: 80%;
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
label {
    font-size: 14px;
    margin-bottom: 10px;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="time"],
textarea,
select {
    width: 100%;
    height: 35px;
    font-size: 14px;
    padding: 8px;
    display: block;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    height: 70px;
}
.button-containers {
    display: flex;
    justify-content: center; 
    gap: 10px; 
}

button {
    padding: 10px 20px; 
    font-size: 16px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

button[type="reset"] {
    background-color: #f49236; 
    color: white; 
}

button[type="reset"]:hover {
    background-color: #b65f12; 
}

button[type="submit"] {
    background-color: #3599bd; 
    color: white; 
}

button[type="submit"]:hover {
    background-color: #1a638e; 
}

legend {
    font-weight: bold;
    margin-bottom: 10px;
    padding-left: 0;
}
.order-elem {
    display: none;
}
.order-type-name {
    font-weight: bold;
}
.category {
    margin-bottom: 20px;
  }
  .filters {
    margin-top: 10px;
  }
  .filter-button {
    margin-right: 10px;
    padding: 5px 10px;
    cursor: pointer;
  }
  .filter-button:hover {
    background-color: #f0f0f0;
  }
  /* Базовый стиль кнопок */
.filter_button {
    background-color: #f0f0f0; /* Светло-серый фон */
    color: #333; /* Темный текст */
    border: 1px solid #ccc; /* Граница */
    border-radius: 5px; /* Скругленные углы */
    padding: 10px 15px; /* Внутренние отступы */
    cursor: pointer; /* Указатель мыши при наведении */
    transition: background-color 0.3s, color 0.3s; /* Плавный переход цвета */
  }
  
  /* Цвет кнопки при наведении курсора */
  .filter_button:hover {
    background-color: #e0e0e0; /* Темнее основной фон */
  }
  
  /* Активное состояние кнопки (когда фильтр применяется) */
  .filter_button.active_button {
    background-color: #f49236; /* Оранжевый фон */
    color: white; /* Белый текст */
  }
  
  /* При наведении на активную кнопку (активный фильтр) */
  .filter_button.active_button:hover {
    background-color: #b65f12; /* Темно-оранжевый фон */
  }

  .options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
    padding: 3rem 0;
    gap: 20px;
    justify-items: center;
    font-size: 1.1rem; /* Уменьшенный размер текста */
  }
  
  .lunch_options {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .lunch_dish {
    text-align: center;
  }
  .desert-option {
    margin-top: 20px; /* Отступ для десерта */
  }
  
  .desert-item {
    text-align: center;
  }
  
  .lunch_dish_text {
    font-size: 12px; /* Размер текста для десерта */
    color: gray; /* Цвет текста для дополнительного пояснения */
  }
  .lunch_dish img {
    width: 70px; /* Размер иконок */
    height: auto;
    
  }

  .lunch_dish img:hover {
    transform: translateY(-10px) scale(1.2); /* Подъем вверх и увеличение */
  }
  .options_title {
    text-align: center;
  }



  /* CSS */
.hidden {
  display: none;
}

#notification {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f8f9fa; /* Светло-серый фон */
  border-radius: 8px; /* Закругленные углы */
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); /* Мягкая тень */
  border: 2px solid #000;
  padding: 20px;
  width: 300px; /* Фиксированная ширина для консистентности */
  z-index: 1000;
}

.notification-content {
  text-align: center;
}

#notification-message {
  font-size: 16px; /* Увеличенный шрифт для читаемости */
  color: #343a40; /* Темно-серый текст */
}

#notification-ok {
  margin-top: 15px;
  padding: 10px;
  background-color: #3599bd; /* Голубоц цвет кнопки */
  color: white;
  border: none;
  border-radius: 5px; /* Закругленные углы кнопки */
  cursor: pointer;
}

#notification-ok:hover {
  background-color: #1a638e; /* Темнее голубой при наведении */
}

  
 @media (min-width: 1px) and (max-width:799px){
    h1 {
        text-align: center;                  
    }

    section>div>div{
        display: flex;                      
        flex-direction: column;              
        align-items: center; 
    }
    

    nav > a {
        font-size: 20px;                    
    }
    
    section > h2 {
        text-align: center;                 
    }
    

    section > div {
        display: grid;                       
        grid-template-columns: 1fr;                
    }
} 

@media (min-width: 800px){
    section>div>div{
        display: flex;                       
        justify-content: space-between;  
        align-items: baseline;      
    }

    section>div{
        display: grid;                       
        grid-template-columns: repeat(3, 1fr); 
    }
} 